ion-tabs.tabs-icon-top.tabs-color-active-positive
  ion-tab(title="Status"
    icon-off="ion-ios-pulse"
    icon-on="ion-ios-pulse-strong"
    href="#/dashboard/status")

    ion-nav-view(name="dashboard-status")

  ion-tab(title="Home"
    icon-off="ion-ios-home-outline"
    icon-on="ion-ios-home"
    href="#/dashboard/home")

    ion-nav-view(name="dashboard-home")

  ion-tab(title="Settings"
    icon-off="ion-ios-gear-outline"
    icon-on="ion-ios-gear"
    href="#/dashboard/settings")

    ion-nav-view(name="dashboard-settings")